pandas version = 2.3.0
numpy version = 1.26.4
scipy version = 1.14.1
selenium version = 4.40.0
undetected-chromedriver version = 3.5.5
fake-useragent version = 2.2.0
webdriver-manager version = 4.0.2
openpyxl version = 3.1.2
lxml version = 5.4.0
SciPy version = 1.14.1
